thread = {{thread}}
harbor = {{harbor}}
start = "{{start}}"
bootstrap = "{{bootstrap}}"
luaservice = "{{luaservice}}"
lualoader = "{{lualoader}}"

lua_path = "{{lua_path}}"
lua_cpath = "{{lua_cpath}}"

cpath = "{{cpath}}"
