{{skynet}}

nodename = "serverMgr"
login_count = {{login_count}}
cluster = "../etc/clustername.{{name}}"

daemon = "../log/serverMgr/{{name}}.pid"
logger = "../log/serverMgr/{{name}}.log"
logger_level = "{{logger_level}}"

debug_console = {{debug_port}}

{{db_login}}
